html {
  box-sizing: border-box;
  position: relative;
  top: -22px;
}

*, *:before, *:after{
  box-sizing: inherit;
}

body {
  color: #394B63;
  font-family: monospace;
}

#topbar {
  position: relative;
  top: 8px;
  background-color: rgb(43, 72, 70);
  width: 370px;
}

#main {
  position: relative;
  top: -12px;
}

#bottombar {
  position: relative;
  top: -37px;
  padding-left: 55px;
  background-color: rgb(83, 100, 98);
  width: 370px;
}

#page1 h2 {
  font-size: 36px;
  text-align: center;
  line-height: 40px;
}

#page1 p {
  margin-left: 10px;
  font-size: 16px;
  line-height: 22px;
}

#page1 {
  background-image: url("assets/part2/dash-horizontal.png");
  background-repeat: repeat-x;
  background-position: bottom;
}

#page2 h2 {
  padding: 16px;
  font-size: 24px;
  text-align: center;
}

.topics {
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}

.topics h3 {
  font-size: 18px;
  font-weight: bolder;
  text-align: center;
  color: rgb(80, 134, 80);
}

.topics p {
  font-size: 14px;
  text-align: center;
  color: rgb(129, 68, 25);
}

#page3 {
  background-image: url("assets/part3/wood-bg.png");
  background-repeat: repeat-y;
  background-position: center;
  width: 370px;
  text-align: center;
  font-family: TimesNewRoman, 'Times New Roman', Times, Baskerville, Georgia, serif;
  color: white;
}

#page3 .displayed {
  width: 80%;
  position: relative;
  top: 90px;
}

.date {
  color: rgb(215, 181, 11);
  font-size: 40px;
  position: relative;
  top: 90px;
  margin: 70px;
  line-height: 45px;
}

.location {
  font-size: 18px;
  padding: 20px;
}

.time {
  font-size: 36px;
  line-height: 1px;
  padding: 4px;
  border: 3px solid rgb(217, 83, 40);
  border-radius: 80px;
  width: 32%;
  height: 32%;
  margin: auto;
  
}

.time p {
  font-size: 16px;
}

.event {
  font-size: 20px;
}

.description {
  font-size: 14px;
  padding-left: 20px;
  padding-right: 20px;
}

#page3 .middisplayed {
  width: 80%;
  position: relative;
  top: 40px;
}

#page4 {
  background-color: rgb(201, 236, 248);
  text-align: center;
  width: 370px;
  position: relative;
  top: -15px;
  color: rgb(133, 91, 56);
  font-family: TimesNewRoman, 'Times New Roman', Times, Baskerville, Georgia, serif;
  font-size: 17px;
}

#page4 p {
  width: 370px;
  position: relative;
  top: 30px;
}

.question {
  text-align: left;
}

.question span {
  position: relative;
  top: -5px;
}

#page4 .bottomdisplay {
  background-position: center;
}

#page5 .register {
  width: 370px;
  position: relative;
  top: -22px;
}

#page5 a {
  display: inline-block;
  width: 200px;
  height: 75px;
  position: relative;
  top: -365px;
  left: 85px;
}